<!--Start container section-->
<section class="categories" id="categories">
    <div class="center-text">
        <h5>CATEGORIES</h5>
        <h2>Popular Categories</h2>
    </div>
    <div class="categories-content">
        <% data.forEach(category => { %>
        <a href="/category/<%= category._id %>"
            ><div class="box">
                <img src="<%= category.image %>" alt="" width="80" height="80" />
                <h3><%= category.name %></h3>
                <p><%= category.ordering %> lessons</p>
            </div></a
        >

        <% }) %>
    </div>
    <div class="main-btn">
        <!-- <a href="#" class="btn"> </a>
        <a href="#" class="btn"></a> -->
        <!-- <button class="btn swiper-button-prev">&lt; Back</button>
        <button class="btn swiper-button-next">Next &gt;</button> -->
    </div>
</section>
