<!--Start cta section-->
<section class="cta">
    <div class="center-text">
        <h5>Trusted by</h5>
        <h2>Studens Of UEF</h2>
    </div>
    <div class="cta-content">
        <div class="cta-img">
            <img src="./img/logo.png" alt="" />
        </div>
    </div>
</section>
