<!--Start container section-->
<section class="Container">
    <div class="container-box">
        <div class="container-img">
            <img src="./img/trophy-svgrepo-com.svg" alt="" />
        </div>
        <div class="container-text">
            <h4>5k</h4>
            <p>Top Courses</p>
        </div>
    </div>
    <div class="container-box">
        <div class="container-img">
            <img src="./img/an-examination-svgrepo-com.svg" alt="" />
        </div>
        <div class="container-text">
            <h4>5k</h4>
            <p>Trending</p>
        </div>
    </div>
    <div class="container-box">
        <div class="container-img">
            <img src="./img/team-svgrepo-com.svg" alt="" />
        </div>
        <div class="container-text">
            <h4>5k</h4>
            <p>Users</p>
        </div>
    </div>
</section>
