<!--Start section-->
<section class="home" id="home">
    <div class="home-text">
        <h6>Best learning English for IT platform</h6>
        <h1>Accessible Online Courses For All</h1>
        <p>Own your future learning new skills online</p>
        <div class="latter">
            <form action="#">
                <input type="email" placeholder="Write your email" required />
                <input type="submit" value="Let's start" required />
            </form>
        </div>
    </div>
    <div class="home-img">
        <img src="./img/image-home.png" alt="" />
    </div>
</section>
