<!--Start header-->
<header>
    <a href="/" class="logo">
        <img src="/img/logo.png" alt="logo" />
    </a>
    <div class="header-searchBar">
        <input class="search-bar" type="text" placeholder="Search" />
        <button class="search-button">
            <img class="search-icon" src="/img/search-icon.png" />
        </button>
    </div>
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/my-learning">My learning</a></li>

        <% if(loggedIn) { %>
        <li><a href="/logout">Log Out </a></li>
        <% } else { %>
        <li class="nav-item"></li>
        <li><a href="/login">Log In</a></li>
        <li><a href="/register">Register</a></li>
        <% } %>
    </ul>

    <!-- <div class="header-icons">
        <a href="/login"><i class="bx bx-user"></i></a>
    </div> -->
</header>
