<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Head -->
        <%- include('./../../layouts/elements/head') %>
        <link rel="stylesheet" href="css/login.css" type="text/css" />

        <!-- bootstrap - CSS-->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <!-- bootstrap - JS-->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"
        ></script>
        <!-- Bootstrap Font Icon CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

        <!-- firebase auth UI CDN -->
        <link
            type="text/css"
            rel="stylesheet"
            href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css"
        />
    </head>
    <body>
        <!-- Content -->
        <div class="form-container">
            <form action="/login/login" method="POST">
                <div class="login-container col-6 mx-auto">
                    <fieldset class="border rounded-3 p-3">
                        <legend class="float-none w-auto px-3">Login Form:</legend>
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control" name="username" />
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" />
                        </div>

                        <button type="submit" class="btn btn-primary">Login</button>
                        <hr />
                        <!-- Login với service thứ 3 -->
                        <div>
                            <div style="text-align: center">
                                <span>Or login with: </span>
                            </div>
                            <div class="login" style="text-align: center">
                                <!-- <a href="/auth/facebook" class="btn btn-primary"><span> facebook </span></a> -->
                                <button><a href="/auth/google">Login With Google</a></button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </body>
</html>
