<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Head -->
        <%- include('./../../layouts/elements/head') %>
        <link rel="stylesheet" href="css/detailCourse.css" type="text/css" />
    </head>
    <body>
        <!-- Header -->
        <%- include('./../../layouts/elements/header') %>

        <!-- Content -->
        <!-- Page Header -->
        <!-- 
        <div class="detail">
            <div class="detail-course">
                <h1>Title - Name of Course</h1>
                <button>Enroll for Free</button>
            </div>
            <div class="detail-course">
                <h2>What you'll learn</h2>
                <div class="content-course">
                    <ul>
                        <li>
                            Gain an immersive understanding of the practices and processes used by a junior or associate
                            data analyst in their day-to-day job
                        </li>
                        <li>
                            Learn key analytical skills (data cleaning, analysis, & visualization) and tools
                            (spreadsheets, SQL, R programming, Tableau)
                        </li>
                        <li>
                            Understand how to clean and organize data for analysis, and complete analysis and
                            calculations using spreadsheets, SQL and R programming
                        </li>
                        <li>
                            Learn how to visualize and present data findings in dashboards, presentations and commonly
                            used visualization platforms
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->

        <main class="main">
            <div>
                <h1 id="title">Name Of Title</h1>
                <p class="paragraph">There are 4 stages</p>
            </div>
            <div>
                <figure id="img-div">
                    <img src="/img/image-course.png" alt="This is a photo" class="image-detail" />
                    <figcaption id="img-caption">Short description of This Course</figcaption>
                    <div class="button-detail">
                        <a href="#" class="btn">Go to course</a>
                    </div>
                </figure>
            </div>

            <div>
                <section id="timeline-info">
                    <h3 class="sub-title">What you'll learn</h3>
                    <ul class="ul-detail">
                        <li class="li-detail">
                            <strong>With Reading</strong>
                            - Reading specialized documents, books, articles, or study materials helps you access the
                            latest information and gain a deeper understanding of technologies, methods, and tools in
                            the IT field. You can also access research papers or technical documentation to expand your
                            knowledge and enhance your skills.
                        </li>
                        <li class="li-detail">
                            <strong>With Listening</strong>
                            - Learning to listen will help you better understand concepts, ideas, and discussions in the
                            IT field. You can listen to lectures, seminars, or discussions on topics such as
                            programming, computer networking, information security, etc. Listening skills also help you
                            grasp how experts express themselves and use technical terminology.
                        </li>
                        <li class="li-detail">
                            <strong>With Writing</strong>
                            - Writing is the best way to organize and convey your ideas. By writing, you can create blog
                            posts, technical articles, instructional materials, or technical documentation to share your
                            knowledge and experience with the IT community. Writing skills are also essential when you
                            need to write technical documents, project reports, or design documents.
                        </li>
                        <li class="li-detail">
                            <strong>With Speaking</strong>
                            - Mastering technical terms and knowledge in IT makes you more confident when participating
                            in discussions, exchanging opinions, and presenting information. This skill is also valuable
                            when you need to explain an idea, a technical issue, or when working in teams.
                        </li>
                    </ul>
                    <blockquote>
                        <p class="paragraph">
                            "The only way to learn a new programming language is by writing programs in it."
                        </p>
                        <cite>-- Dennis Ritchie</cite>
                    </blockquote>
                    <h3 class="sub-title">
                        If you have time, you should read more about this
                        <a href="https://en.wikipedia.org/wiki/Software_engineering" target="_blank"
                            >Software Engineering.</a
                        >
                    </h3>
                </section>
            </div>
        </main>
        <!-- Script -->
        <%- include('./../../layouts/elements/script') %>
    </body>
</html>
